@import url("https://fonts.googleapis.com/css2?family=Onest&display=swap");

:root {
  --white-: #ffffff;
  --black-: rgb(0, 0, 0);
  --grey-: rgb(235, 235, 235);
  --orange-: rgb(255, 106, 105);
  --shadow-sm-: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg-: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl-: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(235, 235, 235);
  font-family: "Onest", sans-serif;
  margin: 40px 20%;
}

.app-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 50px;
  text-transform: capitalize;
}
.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.search-input {
  appearance: none;
  border: 0.5px solid var(--black-);
  outline: none;
  width: 60%;
  padding: 10px 20px;
  border-radius: 5px;
}
button {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
  appearance: none;
  outline: none;
  border: 0.5px solid var(--black-);
  background-color: var(--white-);
  box-shadow: var(--shadow-lg-);
  transition: 0.4s all cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
button:hover {
  box-shadow: none;
}

.movies-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  margin: 20px 0;
}

.movie-card {
  border-radius: 20px;
  padding: 15px;
  background-color: var(--white-);
  box-shadow: var(--shadow-xl-);
  width: 25%;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border: 1px solid var(--black-);
}
.movie-card:hover {
  box-shadow: none;
  transform: translateY(3px);
}

.movie-poster-container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 180, 255);
  width: 100%;
  height: 250px;
  position: relative;
}

.movie-poster-container img {
  object-fit: contain;
  height: 90%;
  width: 90%;
  border-radius: 5px;
}

.movie-card h2 {
  font-size: 18px;
}
.type-year-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.type-year-container .type-container {
  padding: 4px 8px;
  border-radius: 20px;
  border: 1px solid var(--black-);
}

.type-year-container .year-container {
  position: relative;
}

.type-year-container .year-container::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--orange-);
  top: 50%;
  left: 0;
  transform: translate(-10px, -50%);
}
.empty {
  text-align: center;
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 200px) and (max-width: 768px) {
  .movie-card {
    width: 100%;
  }
  body {
    margin: 40px 5%;
  }
}
/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 992px) {
  .movie-card {
    width: 40%;
  }
  body {
    margin: 40px 5%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    margin: 40px 5%;
  }
}
